<!DOCTYPE html>
<html>

  {% include "partials/header.html" %}

    <body>

        <div class="jumbotron" id="big_box">

          {% include "partials/input.html" %}

        </div>

    </body>

</html>
