<!DOCTYPE html>
<html>

  {% include "partials/header.html" %}

    <body>

        <div class="jumbotron" id="big_box">

          {% include "partials/input.html" %}
          
        </div>

    </body>

</html>


<!-- <form action="/results" method="get">
    <div class="form-group has-primary">

        <input class="form-control" type="text" id="scan_sentence" name="scan_sentence"  placeholder="enter sentence">

        <input class="form-control" type="text" id="scan_word" name="scan_word" class="form-control" placeholder="enter word">

    </div>
    <div col-sm-4 id="left_col">
        <h5>click scan to display the number of times that the word provided occurs in the sentence or sentences provided above</h5>
    </div>
    <div col-sm-4 id="right_col">
      <button type="submit" class="btn btn-success">scan</button>
    </div>
</form> -->
